body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #5180BB;
}

header {
    background-color: #004d99;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 0;
    font-style: italic;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

h2 {
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #004d99;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.bio-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
