body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #5180BB;
    color: #333;
}

header {
    background-color: #004d99;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    transition: color 0.5s ease-in-out;
}

header h1:hover {
    color: #e0e0e0;
}

header p {
    font-size: 1.2em;
    margin: 0;
    font-style: italic;
}

button {
    background-color: #E7E7E7;
    color: #006ACB;;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #555;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }
}

h2 {
    color: #333333;
}

ul, .image-container, .hobbies-container, .facts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    transition: transform 0.3s ease;
}

ul li:hover {
    transform: scale(1.05);
}

.image-container, .hobbies-container, .facts-container {
    text-align: center;
    margin-top: 20px;
}

.bio-image, .hobby-image, .fact-image {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.bio-image:hover, .hobby-image:hover, .fact-image:hover {
    transform: scale(1.05); 
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #004d99;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

footer a:hover {
    background-color: #555; 
    text-decoration: underline;
}

h2::before {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #004d99;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}
